@model List<EnviroSense.Web.ViewModels.Devices.DeviceViewModel>
@{
    ViewData["Title"] = "Devices";
}

<div class="container mt-4">
    <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h2 class="card-title mb-0">@ViewData["Title"]</h2>
            <a asp-controller="Devices" asp-action="Add" class="btn btn-primary">Add New Device</a>
        </div>
        <div class="card-body">
            <table class="table table-bordered table-striped table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th>Name</th>
                        <th class="text-center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var device in Model)
                    {
                        <tr>
                            <td>@device.Name</td>
                            <td class="text-center">
                                <div class="btn-group" role="group">
                                    <a href="@Url.Action("Details", "Devices", new { id = device.Id })" class="btn btn-primary btn-sm">View</a>
                                    <a href="@Url.Action("AddMeasurements", "Devices", new { deviceId = device.Id })" class="btn btn-primary btn-sm">New Measurement</a>
                                    <a href="@Url.Action("Measurements", "Devices", new { deviceId = device.Id })" class="btn btn-primary btn-sm">View Measurements</a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
